<!-- homepage/templates/homepage/home.html -->
{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col">=
            <div class="center">
                <h1 class="center">W E L C O M E
                    <span> <button class="btn btn-primary" onclick="playPause()">Play/Pause</button>
                        <button class="btn btn-primary" onclick="mutethisButton()" id="muteButton">Mute</button>
                    </span>
                </h1>
                <video class="video-background shadow-lg p-3 mb-5 bg-body rounded" id="video1" controls loop>
                    <source src="{% static '/images/wellnesss.mp4' %}" type="video/mp4">
                    Your browser does not support HTML video.
                </video>
            </div>
            <script>
                myVideo = document.getElementById("video1");
                muteButton = document.getElementById("muteButton");

                function playPause() {
                    if (myVideo.paused)
                        myVideo.play();
                    else
                        myVideo.pause();
                }

                function mutethisButton() {
                    console.log(myVideo.muted);
                    myVideo.muted = !myVideo.muted;
                    muteButton.textContent = myVideo.muted ? 'Unmute' : 'Mute';
                };
            </script>
        </div>
    </div>
</div>

{% endblock %}