<!-- about/templates/about/about.html -->
{% extends "base.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .img{
        height:100vh;
        width:100%;
    }
</style>
<body>
    <div class="container-fluid">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="500">
                <img src="{% static '/images/Wellness-rocks.jpg' %}" class="d-block w-100 img" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{% static '/images/Wellness-rocks2.jpg' %}" class="d-block w-100 img" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{% static '/images/Wellness-rocks3.jpg' %}" class="d-block w-100 img" alt="...">
              </div>
            </div>
          </div>
    </div>
    
</body>
</html>


{% endblock %}