{% extends "base.html" %}
{% load static %}

{% block content %}

{% if messages %}
<div id="message-container">
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

<link rel="stylesheet" href="{% static '/css/booking-style.css' %}">

<div class="container bookings-container">
    <div class="row">
        <div class="col-12 booking-heading text-center">
            <h1>Book a Time Slot</h1>
            <hr class="hr-dark">
        </div>
    </div>
    <div class="row">
        <div class="col-12 center edit-booking-form">
            <form method="post" class="forms" action="{% url 'book_time_slot' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn--orange">Book Now</button>
            </form>
        </div>
    </div>
</div>

<script src="{% static '/js/message-time.js' %}"></script>

{% endblock %}